body {
  background: #656364;
  margin: 0;
}

.wrap {
  max-width: 700px;
  margin: 250px auto 0;
}

.article {
  font-family: 'Roberto', serif;
  background: #fff;
  padding: 20px 50px;
  margin-bottom: 20px;
}

.article:hover {
  background-color: #E5EDDC;
}

a {
  color: #000;
  text-decoration: none;
}

h1, h2 {
  font-family: 'Roberto Sans'; 
  /*sans-serif;*/
  margin: 0;
  color: #003366;
}

.result {
  margin: 25px 0;
  padding: 30px 0;
}

h1 {
  text-align: center;
  font-size: 42px;
}

.article img {
  float: left;
  margin: 0 5px 5px 0;
}

.searchbar {
  text-align: center;
  margin-top: 30px;

}

.search-field {
  border: 1px solid #bababa;
  width: 480px;
  padding: 0 5px;
  height: 36px;
  line-height: 36px;
  border-radius: 5px;
  font-size: 16px;
  margin-bottom: 25px;
}

.buttons {
  display: flex;
  width: 360px;
  margin: 0 auto;
}

button {
  border: 1px solid #235F9C;
  height: 36px;
  background: #235F9C;
  color: #fff;
  padding: 0 10px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  flex: 1 auto;
  margin: 0 20px;
}

button:hover {
  background: #102c49;
}

.error {
  text-align: center;
  font-size: 18px;
  font-family: 'Lora', serif;
}

.copyright {
  font-family: 'Lora', serif;
  font-size: 14px;
  text-align: center;
  margin-bottom: 30px;
}

.copyright a {
  color: #235F9C;
}

.copyright a:hover {
  color: #102c49;
}

@media (max-width: 500px) {

  .search-field, .buttons {
    width: 90%;
  }

  button {
    margin: 0 5px;
  }

  .article {
    padding: 20px;
  }

  h1 {
    font-size: 32px;
  }

  .wrap {
    margin-top: 150px;
  }

  .error {
    margin: 0 10px;
  }

}
